html {
  /* 1rem = 10px */
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fuente personalizada*/
@font-face {
  font-family: "AvantGardeRegular";
  src: url("../assets/font/ITC Avant Garde Gothic LT Book.ttf"); }

@font-face {
  font-family: "AvantGardeBold";
  src: url("../assets/font/ITC Avant Garde Gothic LT Demi.ttf"); }

.mb-3 .form-control {
  padding: 4rem !important;
  background-color: white !important; }

.allinputs {
  width: 60%; }

/* estilos para botones*/
button {
  background-color: #13DA99;
  border: none;
  padding: 1.5em 3rem 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: "AvantGardeBold";
  border-radius: 5px;
  margin-top: 1.5rem; }

.button-proyectos, .button-proyectos2 {
  background-color: #13DA99;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "AvantGardeBold";
  border-radius: 5px;
  margin-left: 1rem; }

.button-proyectos2 {
  background-color: #13DA99;
  margin-top: 17rem;
  margin-left: 16rem; }

/*estilos para navbar*/
.nav {
  display: flex;
  gap: 5rem;
  text-decoration: none;
  list-style: none; }

/*header{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    padding-right: 1rem;
}*/
.logo {
  padding: 2rem; }

img.logo {
  width: 70%; }

a:link {
  text-decoration: none; }

a {
  color: black;
  font-family: "AvantGardeBold"; }

/*estilos para seccion principal*/
.main-section .foto-bg {
  background-image: url("../assets/img/bg-foto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 6rem;
  color: white; }

.main-section h1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "AvantGardeBold";
  padding-top: 2rem; }

/*estilos para imagenes de seccion our proyects*/
.section-second h2 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "AvantGardeBold";
  color: #577271;
  padding: 9rem 2rem 0rem 9rem; }

.section-second .proyecto1 {
  background-image: url("../assets/img/image1.jpg"); }

.section-second .proyecto2 {
  background-image: url("../assets/img/howls.jpg"); }

.section-second .proyecto3 {
  background-image: url("../assets/img/princess.jpg"); }

.section-second .proyecto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 80%;
  margin: 2rem; }

.section-second .segunda {
  display: flex;
  flex-direction: column;
  align-items: center; }

.subtitle-proyecto, .subtitle-proyecto2 {
  color: white;
  font-family: "AvantGardeBold";
  font-size: 4rem;
  text-align: right;
  padding-top: 4rem; }

/*estilo para seccion discover our team*/
.discover-section .discover {
  background-color: #28A2A7;
  width: 100%;
  height: 60vh; }

.discover-section .discover-subtitle {
  font-family: "AvantGardeBold";
  font-size: 12rem;
  color: white; }

/*estilo para seccion imagenes ceos*/
.ceos-section .ceos {
  display: flex;
  justify-content: space-around; }

.ceos-section .ceo-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 5rem; }

.ceos-section .ceo-titulo, .ceos-section .ceo-subtitulo {
  font-family: "AvantGardeBold";
  font-size: 2.5rem;
  text-align: center; }

.ceos-section .ceo-subtitulo {
  font-size: 1.4rem; }

/* estilos para pagina OUR PROYECTS*/
.proyectos {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
  padding: 3rem; }

.imagenes1, .imagenes2, .imagenes3, .imagenes4, .imagenes5, .imagenes6 {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/img/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.subtitle-proyecto2 {
  margin-top: 5rem; }

.imagenes2 {
  background-image: url("../assets/img/princess.jpg"); }

.imagenes3 {
  background-image: url("../assets/img/howls.jpg"); }

.imagenes4 {
  background-image: url("../assets/img/kikis.jpg"); }

.imagenes5 {
  background-image: url("../assets/img/porko.jpg"); }

.imagenes6 {
  background-image: url("../assets/img/totoro.jpg"); }

.our h2 {
  font-size: 6rem; }

/* ESTILOS PAGINA ABOUT US */
.about {
  display: flex; }
  .about h2 {
    font-size: 6rem; }
  .about .parrafo1, .about .parrafo2, .about .parrafo3, .about .parrafo4 {
    padding: 2rem; }

/*estilos para pagian contactp*/
.contacto {
  background-color: #28A2A7; }

.titulocontacto {
  color: white; }

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left; }

.contactoflex {
  display: flex;
  min-height: 100vh; }

.input-area {
  width: 100%; }

.img-contacto {
  height: 78vh; }

.form2 {
  display: flex;
  height: 100vh;
  justify-content: space-around; }

/*estilos para pagina de proyecto */
.botones-proyecto {
  background-color: #13DA99;
  border: none;
  padding: 1.5em 3rem 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: "AvantGardeBold";
  border-radius: 6px;
  margin-top: 1.5rem; }

.parrafo {
  width: 50%; }

.two-column {
  display: flex; }

.fondo-directores {
  background-color: #28A2A7;
  width: 100%;
  height: 50vh; }

.imagenzindex {
  z-index: 2; }

.proyectopage {
  background-color: #F1F1F1; }

/*estilos footer*/
footer {
  background-color: #13DA99;
  font-family: "AvantGardeBold";
  display: flex;
  align-items: center; }

footer .proyectito-footer {
  margin-left: auto; }

img.logo-footer {
  width: 15%; }

@media only screen and (max-width: 320px) {
  .responsive {
    grid-column: 1; }
  .main-section .foto-bg {
    padding: 3rem;
    height: 50vh; }
    .main-section .foto-bg h1 {
      font-size: 4rem; }
  .section-second h2 {
    font-size: 3.5rem;
    padding: 2rem 3rem 0rem 2rem; }
  .section-second .proyecto {
    height: 20vh; }
    .section-second .proyecto .subtitle-proyecto, .section-second .proyecto .subtitle-proyecto2 {
      font-size: 2rem; }
  .button-proyectos, .button-proyectos2 {
    margin-left: 0.5rem;
    margin-top: 2.5rem; }
  .discover-section .discover {
    height: 35vh; }
    .discover-section .discover .discover-subtitle {
      font-size: 5.5rem;
      padding-top: 4rem;
      padding-left: 2rem; }
      .discover-section .discover .discover-subtitle .botoncito {
        padding: 1rem;
        margin-left: 0.5rem; }
  .ceos {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center; }
  .about {
    display: flex;
    flex-direction: column; }
    .about .imageabout {
      width: 100%; }
  .form2 {
    flex-direction: column; } }

@media only screen and (max-width: 768px) {
  .foto-bg {
    height: 40vh; }
    .foto-bg h1 {
      font-size: 3rem; }
  .section-second h2 {
    font-size: 3.5rem;
    padding: 2rem 3rem 0rem 2rem; }
  .discover {
    height: 35vh; }
    .discover .discover-subtitle {
      font-size: 6rem;
      padding-top: 4rem; }
      .discover .discover-subtitle .botoncito {
        padding: 1rem 1rem 1rem 1rem;
        margin-left: 0.5rem; }
  .ceos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem; }
  .proyectos {
    grid-template-columns: 1fr;
    /* Cambia a una columna */
    margin: 2rem; } }

@media only screen and (max-width: 1024px) {
  .discover {
    height: 40vh; }
  .botoncito {
    margin-top: 1rem; }
  .ceos {
    display: flex;
    padding-top: 2rem; } }
