/*estilos para pagina de proyecto */

.titulopag{
    h2{
    font-size: 60px;
    }
}
.segundasec-proyect{
    display: flex;
    gap: 1rem;
}

.imgcolumn{
    display: flex;
}
.cardss{
    display: flex;
    justify-content: space-evenly;
}

