  /*fuente personalizada*/
  @font-face {
    font-family: "AvantGardeRegular";
    src: url("../assets/font/ITC\ Avant\ Garde\ Gothic\ LT\ Book.ttf");
  }
  @font-face {
    font-family: "AvantGardeBold";
    src: url("../assets/font/ITC\ Avant\ Garde\ Gothic\ LT\ Demi.ttf");
  }